fastapi
uvicorn
gunicorn
motor
python-dotenv
beanie
pydantic
redis
PyJWT
twilio
python-jose
bcrypt
python-multipart
pymongo
pydantic_settings
cloudinary
httpx
requests
schedule
google-generativeai
SpeechRecognition
pyttsx3
pydub
